<?xml version="1.0"?>

<launch>

	<!-- Map Server -->
	<arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


	 <!-- AMCL Node -->
  	<node name="amcl" pkg="amcl" type="amcl" output="screen">


    		<!-- define initial pose here -->
		<!--
    		<param name="initial_pose_x" value="1"/>
    		<param name="initial_pose_y" value="-5"/>
  		<param name="initial_pose_a" value="1.57"/>
		-->

    		<param name="initial_pose_x" value="-1"/>
    		<param name="initial_pose_y" value="-5"/>
  		<param name="initial_pose_a" value="1.57"/>


		<!-- Odom Parameters -->		
  		<param name="odom_frame_id" value="odom"/>
  		<param name="odom_model_type" value="diff-corrected"/>
  		<param name="base_frame_id" value="robot_footprint"/>
  		<param name="global_frame_id" value="map"/>



		<param name="kld_err" value="0.05"/>			  <!-- Max error between true dist and the estimated dist. -->
		<param name="kld_z" value="0.99"/>			  <!-- low odometry noise expected for sim enviroment -->
		
		<!-- odom_alpha1 through odom_alpha4 are used for differential drive, odom_alpha5 is not -->
		<!-- https://answers.ros.org/question/227811/tuning-amcls-diff-corrected-and-omni-corrected-odom-models/ -->
		<!-- https://github.com/ros-planning/navigation/blob/jade-devel/amcl/test/texas_willow_hallway_loop_corrected.xml -->
		<param name="odom_alpha1" value="0.04"/>	  <!-- low odometry noise expected for sim enviroment --> 
    		<param name="odom_alpha2" value="0.6"/>		  <!-- low odometry noise expected for sim enviroment -->
    		<param name="odom_alpha3" value="0.3"/>		  <!-- low odometry noise expected for sim enviroment -->
    		<param name="odom_alpha4" value="0.04"/>		  <!-- low odometry noise expected for sim enviroment -->


		<!-- Filter Parameters -->
		<param name="min_particles" value="50"/>
		<param name="max_particles" value="1000"/>

		<param name="update_min_d" value="0.2"/> 
		<param name="update_min_a" value="0.5"/>	
		
		<param name="transform_tolerance" value="0.2"/>

		<!-- Laser Parameters -->
		<param name="laser_min_range" value="0.1"/>
		<param name="laser_max_range" value="30"/>		
		<param name="laser_max_beams" value="50"/>	
                <param name="laser_z_hit" value="0.95"/>		
		<param name="laser_z_rand" value="0.05"/>
   <!-- <param name="laser_sigma_hit" value="0.10"/>	--> <!-- high sigma_hit gives higher measurement noise --> 
   <!--  <param name="laser_likelihood_max_dist" value="5.0"/> -->	<!-- max distance to do obstacle avoidance -->


 	</node>



</launch>
